
/* Universal */

html, body{
    border: 0;
    margin: 0;
    font-family: sans-serif;
}
a {
    transition: all 0.2s linear;
}
i {
  color: #A952FF;
  font-style: normal;
}
ul {
  padding: 0;
  margin: 0;
}
.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Header {
    font-size: 6em;
    color: #000000;
    white-space: nowrap;
}
.Container {
    text-align: center;
    margin: 0px;
    font-size: 8pt;
    line-height: 18pt;
}
.Wrap {
    max-width: 100%;
    height: 100vh;
    position: relative;
    text-align: center;
}
.Label {
    font-size: 14pt;
    font-weight: 500;
}
.Label_bold {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000; 
    margin: 15px 0 5px 0;
}
/* Card */
.Card-wrap {
    background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url("assets/sky.webp");
    background-size: cover;
    background-position: 50%;

}
.Para {
    font-size: 1rem;
}

.Para-left {
    text-align: right;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    display: inline-block;
    width: 250px;
    padding-right: 5px;
}
.Para-right {
    display: inline-block;
    width: 450px;
    text-align: left;
    font-size: 25px;
}
.trans {
    -webkit-transform: translateZ( 0 );
    transform: translateZ( 0 );
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.Card {
    width: 50vw;
    min-width: 200px;
    height: 40vh;
    min-height: 100px;
}
.Header-card {
    color: #ffffff;
}

.Card-details {
    font-size: 3em;
    color: #ffffff;
}
.Card-button-more {
    border: 5px solid #ffffff;
    border-image: none;
    cursor: pointer;
    height: 8vh;
    width: 30vw;
    background-color: transparent;
    border-image-slice: 1;
    font-size: 3rem;
    color: #ffffff;
    transition: .5s;
    border-radius: 30px 0 30px 30px;
}
.Card-button-more:hover {
    background-color: #834d9b;
    border-color: #834d9b;
}

.Card-button-more::after {
    border-radius: 30px;
}

.center_margin {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
/* About page */
.About-wrap {
   

}
.About {
}
.About-columns {
  display: grid;
  max-width: 960px;
  width: 100%;
  padding-top: 50px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 70px;
}
.About-columns-item {
  height: 800px;
  border: solid .5px;
  display: block;
  background-color: #ffffff;
}
.About-columns-wrap {
  width: 100%;
}
.Heading-columns_bg {
  font-size: 1.5rem;
  font-weight: 800;
  color: #424242;
  margin: 0 0 50px 0;
}
.Heading-columns_md {
  font-size: 18px;
  font-weight: 400;
  color: #293347;

}
li {
  font-size: 18px;
  margin:0;
  padding:0;
  list-style: none;
  display: block;
  color: #293347;
}
.Para-columns {
  font-size: 18px;
  color: #293347;
  line-height: 30px;
  margin-bottom: 2em;
  text-align: center;
}
.Icon-arrow_down {
   transform: rotate(45deg);
     -webkit-transform: rotate(45deg);
     border: solid black;
       border-width: 0 3px 3px 0;
         display: inline-block;
           padding: 3px;
}
.those-corners {
  border-radius: 100px 0 100px 100px;
}
.About-divider {
  height: 160px;
  background-color: #3B4557;

}
.About-columns-container {
  padding: 70px 45px;
}
body {
    padding: 0;
    margin: 0;
    line-height: 0;
}
.Button-half {
    height: 400px;
    margin: 0;
    border: 0;
    display: inline-block;
    width: 50%;
    
}

.Button-left {
  position: relative;
  
}
.Button-right {
  background: linear-gradient(to right, #834d9b, #d04ed6); 
  position: relative;
}
.Button-circle {
  position: absolute;
  width: 50%;
  height: 50%;
  border-radius: 50%;
border:5px solid ;  
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background: transparent;
  transition:all .5s ease;
}
.Button-circle_purp {
      border-image-slice: 1;
   border-color: #834d9b; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.Button-circle_wh {
  border-color: white;
  border-image-slice: 1;
}

.Button-left:hover .Button-circle_purp {
  border-radius: 0;
  transition: border-radius .5s;
}
.Button-left:hover:after .Button-circle_purp {
    transition: border-radius .5s;
  }
.Button-right:hover .Button-circle_wh {
  border-radius: 0;
  transition: border-radius .5s;
}
.Button-text {
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 60px;  
  transform: translate(-50%,-50%);
  text-align: center;
  
}

.Button-text_right {
  color: #FFFFFF;
}

.Button-text_left {
  color: #834d9b ;
}
/* Projects */
.Heading-projects_bg {
  font-size: 3rem;
  font-style: medium;
  font-family: sans-serif;
  margin: 0;
}

.Projects-divider {
  height: 100px;
}
.Projects-filter {
  
}
.Projects-filter-item {
  display: inline-block;
    height: 40px;
   width: 100px;
  background-color: #EDEBEF;
  border-radius: 10px;
  text-align: center;
  margin-right: 30px;
}
.Projects-filter-item:hover {
  background-color: #A952FF;
}
.Projects-blocks-wrap {
  width: 50%;
}
.Projects-grid {
 max-width: 100%;
 height: 100vh;
 position: relative;
}
.Projects-blocks {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: repeat(4, 200px);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
  grid-auto-flow: dense;
}

.Projects-blocks-item {
  display: inline-block;
  background-color: #424242;
  border-radius: 30px;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.Footer {
  height: 200px;
  background-color: #3B4557;

}
.Footer-contacts {
  margin: 0;
  padding: 0;
  padding-top: 70px; 
}
.Footer-contacts-item{
  display: inline-block;
  max-width: 70px;
  height: 70px;
  background-color: grey;
  width: 100%;
  margin-right: 20px;
  border-radius: 10px 0 10px 10px;
}
.Footer-copyrights {
  color: #ffffff;
  
}
