body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.Frontend {
    height: 50vh;
    max-width: 100%;
}
.Sample-image {
    height: 100vh;
    color: #ffffff;
    display: flex;
    margin: 0;
}
.Sample-image_bl {
    min-height: 50vh;
    background-color: black;
    height: auto;

}
.Frontend-para-wrap {
    height: 50vh;
    display: flex;
    margin: 0;

}
.Frontend-divider {
    height: 100px;
}
.Frontend-para-container {
    margin: auto;
    width: 50%;
}
.Frontend-para-heading {
    display: inline-flex;
    width: fit-content;
    font-size: calc(32px + (54 - 32) * ((100vw - 300px) / (1600 - 300)));
        margin: 0 10px .625em 0;
    font-weight: 500;
}
.Frontend-para-para {
    display: inline-flex;
    width: 25vw;
    font-size: calc(22px + (24 - 22) * ((100vw - 300px) / (1600 - 300)));
    color: #606060;

}
.Sample-image_purp {
    background-color: #A952FF;
    min-height: 50vh;
    height: auto;
}

.Design {
    padding: 0 50px 0 50px;
    height: 50vh;

}
.Text-box {
    margin: auto auto auto 5vw;
}
.Text-heading_md {
    margin: 0 0 .3em 0 !important;
    font-weight: 500;
    font-size: calc(30px + (73 - 30) * ((100vw - 300px) / (1600 - 300)));
}
.Text-para_bg {
    font-size: calc(23px + (49 - 23) * ((100vw - 300px) / (1600 - 300)));
    padding-bottom: 3vh !important;
    min-width: 50vw;
    font-weight: 300;
}
.Text-small_bg {
    font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 400;
    border-bottom: solid 2px;
}
p, h1, small {
    margin: 0 ;
}
.Text-box a {
    text-decoration: none;
    color: inherit;
}
/**/
.Card-wrap {
    background-image: linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),url("assets/sky.webp");
    background-size: cover;
    background-position: 50%;
    height: 100vh;
    background-attachment: fixed;
}

.Para {
    font-size: 1rem;
}


.Para-left {
    text-align: right;
    font-size: 38px;
    line-height: 42px;
    font-weight: 700;
    display: inline-block;
    width: 250px;
    padding-right: 5px;
}
.Para-right {
    display: inline-block;
    width: 450px;
    text-align: left;
    font-size: 25px;
}
.trans {
    -webkit-transform: translateZ( 0 );
    transform: translateZ( 0 );
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Card {
    padding-bottom: 100px;
    
}
.Header-card {
    color: #ffffff;
}

.Card-details {
    font-size: calc(15px + (25 - 15) * ((100vw - 300px) / (1600 - 300)));
        color: #ffffff;
    padding: 20px 0 20px 0;
    white-space: nowrap;

}

.Icon-arrow_down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    border: solid 10px black;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 13px;
    margin: 0 0 8px 22px;
 }

.center_flex {
    justify-content: center;
    align-content: center;
    display: flex;
}
.center_margin {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
i {
    color: #A952FF;
  font-style: normal;
}
.Header {
    font-size: calc(30px + (73 - 30) * ((100vw - 300px) / (1600 - 300)));
        white-space: nowrap;
}

.Label {
    font-size: 14pt;
    font-weight: 500;
}
.Label_bold {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000; 
    margin: 15px 0 5px 0;
}

/* FOOTER */
.Footer {
    height: 200px;
    background-color: #000000;
    position: relative;
  }
  .Footer-contacts {
    padding-top: 70px; 
    text-align: center;
    display: block;
  }
  .Footer-contacts-item{
    display: inline-block;
    max-width: 50px;
    height: 70px;
    width: 100%;
    margin-right: 20px;
    border-radius: 10px 0 10px 10px;
  }
  .Footer-contacts-item img {
    height: inherit;
    width: inherit;
  }
  
  .Footer-copyrights {
    color: #707070;
    text-align: center;
    font-size: 15px;
    
  }
  
  .Footer-goto_card.Footer-goto_card{
        height: 70px;
        width: 70px;
        top: 0;
        position: absolute;
        background-color: gray;
  }
  

  /* DESIGN */

  .Design-details {
    height: 50vh;
    padding: 0 50px 0 50px;
  }
  .Design-image {
    width: 50%;
    height: 50vh;
    display: inline-block;
    background-color: firebrick;
  }
  .Design-para-wrap {
    display: inline-block;
    width: 45%;
    height: 50vh;
    position: relative;
  }
  .Design-para-heading {
      white-space: nowrap;
      margin: 0 0 .625em 0;
      font-weight: 500;
      font-size: calc(32px + (54 - 32) * ((100vw - 300px) / (1600 - 300)));
  }
  .Design-para-para {
      color: #707070;
    font-size: calc(22px + (24 - 22) * ((100vw - 300px) / (1600 - 300)));
}

  .Design-para-container {
    text-align: right;
  }

  /* PROJECTS */

  .Heading-projects_bg {
    font-weight: 500;
    text-align: center;
    font-size: calc(30px + (54 - 30) * ((100vw - 300px) / (1600 - 300)));
}
  .Heading-projects_bg a{
      text-decoration: none;
  }
  .Projects {
    text-align: center;  
    margin-bottom: 50px;
  }
  
  .Projects-divider {
    height: 100px;
  }
  .Projects-filter {
    
  }
  .Projects-filter-item {
    display: inline-block;
      height: 60px;
     width: 100px;
    background-color: #EDEBEF;
    border-radius: 10px;
    text-align: center;
    margin-right: 30px;
  }
  .Projects-filter-item:hover {
    background-color: #A952FF;
  }
  .Projects-blocks-wrap {
  }
  .Projects-grid {
   max-width: 100%;
   height: 100vh;
   position: relative;
  }
  .Projects-blocks {
    display: grid;
    grid-auto-rows: 300px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    grid-auto-flow: dense;
  }
  .Projects-blocks-one {
      grid-column: span 2;
      grid-row: span 2;
  }

  .Projects-blocks-inner{
      display: none;
      color: #ffffff;
    }
  
  .Projects-blocks-item {
    display: inline-block;
    background-color: #424242;
    position: relative;
}
.Projects-blocks-item:hover {
    filter: contrast(30%);
}
.Projects-blocks-item:hover .Projects-blocks-inner {
    display: block;
}
.Projects-blocks-item-img {
    transition: all .5s ease-in;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
  }

  @media (max-width: 500px){
    .Frontend-para-para {
        min-width: 32vw;
        width: auto;
        margin: 0 0 30px 0 !important;
    }
    .Frontend-para-wrap {
        height: auto;
    }
    .Frontend-para-container {
        max-width: 50%;
    }
    .Frontend-para-heading {
        display: block;
        margin-top: 30px;
    }
    .Projects-blocks {
        padding: 0 ;
    }
    .Design-para-wrap{
        display: block;
        width: auto;
        margin-top: 100px;
    }
    .Design-details {
        height: auto;
        padding: 0;
    }
    .Design-image {
        width: 100%;
    }
    .Projects-blocks-one {
        grid-column: unset;
    }

  }
  
