.Text-para_bg {
    font-size: calc(17px + (33 - 17) * ((100vw - 300px) / (1600 - 300)));
    margin-top: .8em;
    min-width: 50vw;
    line-height: .8em;
    font-weight: 300;
    padding-bottom: 0;
}

@media screen and (max-width: 600px) {
  .Text-para_bg {
    line-height: 1.5em;
  }
}