.Design-image {
    width: 30%;
    height: 50vh;
    display: inline-block;
    background-color: firebrick;
  }

  @media screen and (max-width: 600px) {
    .Design-image {
      display: none;
    }
  }