.Frontend-para-para {
    display: inline-flex;
    width: 22vw;
    margin: 0;
    font-size: calc(22px + (24 - 22) * ((100vw - 300px) / (1600 - 300)));
    color: #606060;

}

@media screen and (max-width: 600px) {
  .Frontend-para-para {
      width: auto;
  }
}