.Design-para-container {
    text-align: right;
  }
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  @media screen and (max-width: 600px) {
    .Design-para-container {
      text-align: left;
      width: 80%;
    }
  }