.Footer-contacts {
    padding-top: 70px; 
    text-align: center;
    display: block;
  }
  .Footer-contacts-item{
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-right: 20px;
    border-radius: 10px 0 10px 10px;
  }
  .Footer-contacts-item img {
    height: inherit;
    width: inherit;
  }

  .Footer-contacts-svg {
    fill: #fff;
  }